body {
  margin: 0;
  padding: 0;
  background: #ffe;
  font-size: 14px;
  font-family: "寰蒋闆呴粦", "瀹嬩綋", sans-serif;
  color: #231f20;
  overflow: auto;
  height: 100vh;
}

#app {
  height: inherit;
}
